body {
    background-color: #be9b6e;
    margin: 0;
    padding: 3rem;
    border: 10px solid #5e4000;
    height: 100vh;
}

h1 {
    font-size: 40px;
    font-family: "indivisible-variable", sans-serif;
    color: #5e4000;
    letter-spacing: 0.1em;
    padding-left: 1cm;
}

a {
    font-size: 70px;
    font-family: "indivisible-variable", sans-serif;
    text-decoration: none;
    letter-spacing: 0.1em;
    color: white;
}

.card {
    display: block;
    background-color: #9bc6ea;
    padding: 50px 30px;
    width: 180px; 
    height: 250px;
}